@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Workshop Front End</h1>
    <p class="lead">Front end</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Do Stuff</a></p>
</div>
